.color1 {
  background-color: hsl(217, 12%, 63%);
}
.color2 {
  background-color: hsl(216, 12%, 54%);
}
.color3 {
  background-color: hsl(213, 19%, 18%);
}
.color4 {
  background-color: hsl(216, 12%, 8%);
}
